html
  font-size 24px

html, body, #app
  height 100%

body
  padding .5rem

#app
  display flex
  flex-direction column

h1
  font-size 1.55rem
  text-align center

h2
  font-size 1.5rem

h3
  font-size 1.25rem

h4
  font-size 1.15rem
