html
  font-size 32px

html, body, #app
  height 100%

body
  padding .5rem

#app
  display flex
  flex-direction column

h1
  font-size 2rem
  text-align center

h2
  font-size 1.5rem

h3
  font-size 1.25rem
